@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --color-Yellow: hsl(47, 88%, 63%);
    --color-White: hsl(0, 0%, 100%);
    --color-Gray-500: hsl(0, 0%, 42%);
    --color-Gray-950: hsl(0, 0%, 7%);
    --font-Figtree: "Figtree", sans-serif;
}