@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-Blue-500: hsl(215, 51%, 70%);
    --color-Cyan-400: hsl(178, 100%, 50%);
    --color-Blue-950-mainBG: hsl(217, 54%, 11%);
    --color-Blue-900-cardBG: hsl(216, 50%, 16%);
    --color-Blue-800-line: hsl(215, 32%, 27%);
    --color-White: hsl(0, 0%, 100%);

    --font-Outfit: "Outfit", sans-serif;
}