@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";
@theme {
    --font-inter: "Inter", sans-serif;
    --font-lexend: "Lexend Deca", sans-serif;
    --color-navy-950main-background: hsl(233, 47%, 7%);
    --color-blue-950card-background: hsl(244, 37%, 16%);
    --color-Purple-500accent: hsl(277, 64%, 61%);
    --color-white-mainparagraph: hsla(0, 0%, 100%, 0.75);
    --color-white-statheadings: hsla(0, 0%, 100%, 0.6);
}