@import "tailwindcss";
@theme {
    --color-Purple-100: hsl(275, 100%, 97%);
    --color-Purple-600: hsl(292, 16%, 49%);
    --color-Purple-950: hsl(292, 42%, 14%);
}
section{
    @apply bg-white rounded-2xl max-w-xl mx-auto p-6 space-y-5;
}

.header {
    @apply flex items-center gap-4 font-bold text-4xl;
}

.header h1 {
    @apply text-Purple-950;
}

.header img {
    @apply size-8;
}

.accordion {
    @apply grid grid-cols-1 gap-6;
}

.accordion-header {
    @apply w-full flex justify-between items-center gap-6;
}

.accordion-header span {
    @apply font-semibold text-Purple-950;
}

.accordion-item {
    @apply border-b border-Purple-100 pb-4;
}

.accordion-item:last-child {
    @apply border-0 pb-0;
}

.accordion-answer {
    @apply text-Purple-600
}