@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
    --color-Purple-100: hsl(275, 100%, 97%);
    --color-Purple-600: hsl(292, 16%, 49%);
    --color-Purple-950: hsl(292, 42%, 14%);
    --font-worksans: "Work Sans", sans-serif;
}
main {
    @apply w-full h-screen bg-[url('./assets/images/background-pattern-desktop.svg')] bg-no-repeat bg-top bg-contain flex justify-center items-center;
}
body {
    @apply font-worksans bg-Purple-100;
}